<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/bootstrap.css">
  </head>
  <body ng-app="app">
    <div ng-controller="emp">
      a = <input ng-model="a" />
      <div>a = {{a}}</div>
      <hr />
      b = <input ng-model="b" />
      <div>c = {{b}}</div>
      <hr />
      c = <input ng-model="c" />
      <div>c = {{c}}</div>
      <hr />
    </div>
  </body>
  <script src="js/jquery.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/angular.js"></script>
  <script src="js/app.js"></script>
</html>
